<!DOCTYPE html>
<html>
	<head>
		<title>StudioSteph</title>
		<link rel="stylesheet" media="screen" href="/css/styles.css" />
		<link rel="stylesheet" media="screen" href="/css/lightbox.css" />
		<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/js/lightbox.js"></script>
		<script type="text/javascript" src="/js/application.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<img id="logo" src="/img/logo-studiosteph.jpg" />
			</div>

			{% include navigation.html %}
			
			<div id="content">
